.nav {
    background-color: greenyellow;
    height: 150px; 
}

.hero {
    background-color: aqua;
    height: 150px;
}

.kvmr {
    background-color: blue;
    height: 150px;
}

.duk {
    background-color: blueviolet;
    height: 150px;
}

.newsletter {
    background-color: green;
    height: 150px;
}

.contact {
    background-color: yellow;
    height: 200px;
}

.footer {
    background-color: goldenrod;
    height: 50px;
}
